.menusEvents-container {
  width: 100%;
  background-color: #000814;
  padding: 15px 0;
  font-family: 'Lato', sans-serif;
}

.close {
  padding: 10px;
  text-align: center;
  margin: 5px 0 0;
}

.menusEvents-container p {
  font-size: 18px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  color: #ffc300;
  text-decoration: underline;
}

.image-container {
  margin: 0 auto 25px;
  max-width: 450px;
  width: 95%;
  padding: 10px 0;
}

.image-container img {
  width: 100%;
}
