.header-container {
  background-color: #000814;
  padding: 15px 50px;
}

.header-menu {
  margin: 5px auto;
  max-width: 1300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.header-logo {
  padding: 0 45px 0 0;
}

.header-logo img {
  max-width: 90px;
  opacity: 1;
}

.header-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 15px 10px 10px;
}

.header-list:hover .nav-item p {
  color: rgba(255, 195, 0, 0.6);
}

.nav-item {
  margin: 0 20px;
  padding: 5px;
}

.nav-item p, .dropdown p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.nav-item p {
  transition: all 100ms linear;
  color: rgba(255, 195, 0, 0.95);
}

#menu:hover, #submenu1:hover, #submenu2:hover, #events:hover, #about:hover {
  color: rgba(255, 195, 0, 0.95);
}

.dropdown {
  margin: 0 20px;
}

.dropdown-content {
  margin: 5px;
  opacity: 0;
  visibility: hidden;
  top: 60px;
  position: absolute;
  background-color: #1f1f1f;
  padding: 15px 15px;
  transition: all 150ms linear;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  display: block;
  top: 80px;
  opacity: 1;
}

.dropdown-content p {
  color: rgba(255, 195, 0, 0.7);
  margin: 5px auto;
  transition: all 150ms linear;
}

.dropdown:hover #menu {
  color: rgba(255, 195, 0, 1);
}

.menu-icon {
  display: none;
  padding: 5px;
}

.menu-icon img {
  max-width: 25px;
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .header-container {
    padding: 10px 25px;
  }
  .header-menu {
    justify-content: space-between;
  }
  .header-logo {
    padding: 0 25px 0 0;
  }

  .header-logo img {
    max-width: 55px;
  }
  .header-list {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
}
